RewriteEngine On

RewriteCond %{HTTP_HOST} ^adalgu.gitlab.io$ [NC]
RewriteRule ^(.*)$ https://gunn.kim/%{REQUEST_URI} [R=301,NC,L,QSA]

RewriteCond %{HTTP_HOST} ^adalgu.github.io$ [NC]
RewriteRule ^(.*)$ https://gunn.kim/%{REQUEST_URI} [R=301,NC,L,QSA]